*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdf7ef;
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3c1a0e;
}

p {
  margin: 0 0 12px 0;
}

.description {
  margin: 0 0 20px 0;
  font-size: 18px;
}

.page-wrapper {
  padding: 30px 60px;
  width: 100%;
}

h1 {
  font-size: 80px;
  margin-bottom: 16px;
}

a {
  text-decoration: underline;
  color: #ae4f20;
}

a:hover {
  color: #8b4021;
}

.primary-button {
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 16px 36px;
  margin: 20px 0 0 0;
  background-color: #ae4f20;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  border: none;
  transition: 0.6s ease;
}

.primary-button:hover {
  background-color: #9e2a2b;
  color: white;
  cursor: pointer;
}
.hero-image {
  border-radius: 12px;
  transition: all 0.6s ease;
  object-fit: cover;
  width: 100%;
  max-height: 600px;
}

.hero-image:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 24px;
  width: 100%;
}

.photo-container {
  text-align: center;
}
